@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ifqzgh');
  src:  url('fonts/icomoon.eot?ifqzgh#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ifqzgh') format('truetype'),
    url('fonts/icomoon.woff?ifqzgh') format('woff'),
    url('fonts/icomoon.svg?ifqzgh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
  content: "\e900";
}
.icon-tcicon:before {
  content: "\e901";
}
.icon-corgiicon:before {
  content: "\e902";
}
.icon-menu:before {
  content: "\e906";
}
.icon-off:before {
  content: "\e907";
}
.icon-qrcode:before {
  content: "\e938";
}
.icon-phone:before {
  content: "\e942";
}
.icon-weixin:before {
  content: "\e96c";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-sina-weibo:before {
  content: "\ea9a";
}
.icon-trello:before {
  content: "\eab3";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-android:before {
  content: "\eac0";
}
