@charset "UTF-8";
/* CSS Document */
*{  
    margin: 0px;  
    padding: 0px;
	font-family: "苹方-简", Helvetica,"微软雅黑"; 
	}
a {
	text-decoration: none;
	}
@font-face {
	font-family: 'corgiicon';
	src: url();
}
#video1{  
    position: fixed;  
    margin: auto;
    min-width: 100%;  
    min-height: 100%;  
    height: auto;  
    width: auto;  
    /*filter: blur(15px); //背景模糊设置 */
    /*-webkit-filter: grayscale(100%);*/  
    /*filter:grayscale(100%); //背景灰度设置*/  
    z-index:-11
    }  
#video1 source{  
    min-width: 100%;  
    min-height: 100%;  
    height: auto;  
    width: auto;  
    } 
		
.navPC {
	position: absolute;
	width: 88vw;
	min-width: 750px;
	margin: auto;
	height: 44px;
	padding-top: 35px;
	padding-left: 5vw;
	padding-right: 5vw;
	/* overflow: hidden; */
	}
.navPC .navbox{
	float: right;
	}
.navPC .navelement {
	width: 13vw;
	min-width: 160px;
	max-width: 260px;
	text-align: center;
	font-size: 1em;
	line-height: 44px;
	float: left;
	}
.navPC .navelement a{
	color: #CCCCCC;
	}
.navPC .navelement a:hover{
	color: #ffffff;
	}
#contactus {
			display: none;
			position: absolute;
			width: 24vw;
			min-width: 450px;
			max-width: 600px; 
			height: 180px;
			margin-top: 20px;
			padding: 20px;
			background: #FFFFFF;
			border: #D8D8D8 1px solid;
			border-radius: 12px;
			right: 5vw;
		}
		
#contactus .channelbox{
			float: left;
			width: 8vw;
			min-width: 150px;
			max-width: 200px;
			margin-top: 15px;
			text-align: center;
		}
		
#contactus .channelbox img {
			width: 100px;
			height: 100px;
			margin: 0;
		}
		
#contactus .channelbox .text1{
			color: #181818;
			font-size: 0.9em;
			line-height: 1em;
		}
		
#contactus .channelbox .text2{
			color: #808080;
			font-size: 0.8em;
			line-height: 2.5em;
		}
#tiancaimenu {
			display: none;
			position: absolute;
			width: 110px;
			height: 145px;
			margin-top: 20px;
			padding: 20px;
			margin-left: 2vw;
			background: #FFFFFF;
			border: #D8D8D8 1px solid;
			border-radius: 12px;
			color: #808080;
			font-size: 0.8em;
			line-height: 2.5em;
}		
.mainbox{
	width: 750px;
	margin: auto;
	padding-top: 25vh;
	padding-left: 3vw;
	padding-right: 7vw;
	overflow: hidden;
	}
		
.mainbox .maincontent1{
	width: 285px;
	height: 45vh;
	max-height: 520px;
	min-height: 400px;
	margin-right: 60px;
	float: left;
	}
.mainbox .maincontent1 .videobox{
	position: absolute;
	width: 285px;
	height: 45vh;
	max-height: 520px;
	min-height: 400px;
	overflow: hidden;
	}
.mainbox .maincontent1 #videoPhone{
	height: 43vh;
	max-height: 508px;
	min-height: 388px;
	margin: 12px;
	border-radius: 20px;
	z-index: 1;
	float: right;
	}
.mainbox .maincontent1 img{
	height: 45vh;
	max-height: 520px;
	min-height: 400px;
	margin: 0;
	z-index: 2;
	float: right;
	}
.mainbox .maincontent2{
	width: 405px;
	float: left;
	color: #ffffff;
	}
.mainbox .maincontent2 h1{
	font-size: 2.8em;
	}
.mainbox .maincontent2 p{
	font-size: 0.9em;
	line-height: 1.6em;
	margin-top: 20px;
	margin-bottom: 10px;
	opacity: 0.5;
	}		
.mainbox .downloadbox{
	width: 160px;
	height: 42px;
	border: rgba(255,255,255,1.00) 1px solid;
	background: rgba(0,0,0,0.3);
	border-radius: 25px;
	overflow: hidden;
	margin-right: 20px;
	margin-top: 20px;
	float: left;
	}
.mainbox .downloadbox2{
	width: 38px;
	height: 38px;
	overflow: hidden;
	margin-top: 24px;
	float: left;
	text-align: center;
	}
.mainbox .downloadbox2  a {
	font-size: 1.2em;
	line-height: 40px;
	color: #ffffff;
}
.mainbox .blank{
	height: 6vh;
	max-height: 120px;
	}	
#qrDownload{
	display: none;
	position: absolute;
	width: 90px;
	height: 90px;
	padding: 10px;
	background: #FFFFFF;
	border-radius: 12px;
	margin-left: -12px;
	overflow: hidden;
	}

@media screen and (min-width:750px){
		footer {
			width: 90vw;
			min-width: 750px;
			padding-left: 5vw;
			padding-right: 5vw;
			padding-top: 13px;
			padding-bottom: 10px;
			background-color: rgba(24,24,24,0.5);
			position: absolute;
			bottom: 0px;
		}
		footer .footerbox{
			width: 300px;
			margin: 0 auto;
		}
		footer .text3{
			width: 150px;
			text-align: center;
			color: #cccccc;
			font-size: 0.8em;
			line-height: 2em;
			float: left;
		}
		footer .text4{
			width: 100%;
			text-align: center;
			color: #808080;
			font-size: 0.7em;
			line-height: 2em;
			float: left;
		}	
		}
		
@media screen and (max-width:750px){
		footer {
			width: 100vw;
			min-width: 750px;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 5vw;
			padding-right: 5vw;
			background-color: rgba(24,24,24,0.5);
			position: absolute;
			bottom: 0px;
		}
		footer .footerbox{
			width: 700px;
			margin: 0 auto;
		}
		footer .text3{
			width: 100px;
			text-align: center;
			color: #cccccc;
			font-size: 0.7em;
			line-height: 2em;
			float: left;
		}
		footer .text4{
			width: 250px;
			text-align: center;
			color: #808080;
			font-size: 0.7em;
			line-height: 2em;
			float: left;
		}
		}
		footer .text3 a{
			color: #f0f0f0;
		}
		footer .text4 a{
			color: #808080;
		}
		footer .text4 img {
			height: 11px;
		}