@charset "UTF-8";
/* CSS Document */

.pageHeadBG {
	position: absolute;
	width: 100vw;
	height: 50vw;
	min-width: 300px;
	text-align: center;
	overflow: hidden;
}
.pageHeadBG p{
	font-size: 4em;
	margin-top: 26vw;
	color: #ffffff;
}
.contactus{
	width: 84vw;
	margin: 0 auto;
	padding-top: 50vw;
	text-align: center;
}
.channelbox{
	width: 40vw;
	margin: 12vw auto;
	text-align: center;
}
.channelbox img{
	width: 70%;
}
.channelbox .text1{
	font-size: 2.5em;
	color: #000000;
	line-height: 2.2em;
}
.channelbox .text2{
	font-size: 2.2em;
	color: #808080;
}

footer {
	width: 100vw;
	height: 10vw;
	min-width: 300px;
	max-height: 100px;
	padding-top: 5vw;
	padding-bottom: 16vw;
	background-color: #181818;
}

footer .footerbox{
	width: 50vw;
	max-width: 990px;
	margin: 0 auto;
	text-align: center;
	}
footer .text3{
	width: 50%;
	color: #ffffff;
	font-size: 1.65em;
	line-height: 2em;
	float: left;
	}
footer .text3 a{
	color: #FFFFFF;
	}

footer .text4{
	width: 100%;
	color: #808080;
	font-size: 1.5em;
	line-height: 2em;
	float: left;
	}	
footer .text4 a{
	color: #808080;
	}
