@charset "UTF-8";
/* CSS Document */

*{  
    margin: 0px;  
    padding: 0px;
	font-family: "苹方-简","SF Pro SC","PingFang SC","Helvetica Nune",Helvetica,"微软雅黑"; 
	}
a {
	text-decoration: none;
	color:inherit;
	}
body {
	scroll-behavior: smooth;
}
nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 90%;
	height: 50px;
	min-width: 320px;
	padding: 0 5% 0 5%;
	background: rgba(34,34,34,0.75);
	z-index: 999;
	}
.navbg {
	background: rgba(17,17,17,0.85) !important;
	}

/* ham ↓ */
#ham8 {
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	float: right;
	align-items: center;
	justify-content: center;
	margin: 15px;
	display: none;
}
#ham8 .hamline {
	fill:none;
	stroke:#cccccc;
	stroke-width:5;
	stroke-linecap:round;
	transition: transform 250ms;
}
#ham8:hover .hamline {
	stroke:#ffffff;
}
#ham8 .top {
	transform-origin: 50%;
	transform: translateY(-25%);
}
#ham8 .middle {
	transform-origin: 50%;
}
#ham8 .bottom {
	transform-origin: 50%;
	transform: translateY(25%);
}
#ham8.active .top {
	transform: rotate(-45deg);
}
#ham8.active .middle {
	transform: scaleX(0);
}
#ham8.active .bottom {
	transform: rotate(45deg);
}
/* ham ↑ */


#navlogo{
	cursor: pointer;
	user-select: none;
	float: left;
	width: 12%;
	margin-left: 23%;
	padding: 10px 0 10px 0;
}
#navmenu{
	display:inline;
	width: 42%;
	margin-right: 23%;
}

#navmenu ul li{
	display: inline;
	list-style: none;
	padding-left: 2%;
	padding-right: 2%;
	font-size: 0.81em;
	line-height: 50px;
	color: #cccccc;
}	
#navmenu ul li:hover {
	color: #ffffff;
}
@supports ((-webkit-backdrop-filter: saturate(180%) blur(20px)) or (backdrop-filter: saturate(180%) blur(20px))){
	nav, #navmenu {
		backdrop-filter: saturate(180%) blur(20px);
		-webkit-backdrop-filter: saturate(180%) blur(20px);
	}
} 
@media only screen and (max-width: 833px){
#ham8 {
	display: flex;
	}
#navlogo{
	margin-left: 2%;
	}
#navmenu {
	display: none;
	position: absolute;
	top: 50px;
	left: 0;
	width: 80%;
	padding: 5% 10% 5% 10%;
	text-align: center;
	background: rgba(17,17,17,0.85);
	}
#navmenu ul li{
	display: block;
}
}

